.signUpContainer {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.signUpContainer h2 {
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .signUpContainer {
    width: 300px;
  }
}
