.directoryItemContainer {
  min-width: 30%;
  height: 360px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
  position: relative;
}

.directoryItemContainer:first-child {
  margin-right: 7.5px;
}

.directoryItemContainer:last-child {
  margin-left: 7.5px;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.body {
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
  position: absolute;

  top: calc(50% - 45px);
  left: calc(50% - 50%);
  width: 100%;
  box-sizing: border-box;
}

.body h2 {
  font-weight: bold;
  margin: 0 6px 0;
  font-size: 22px;
  color: #4a4a4a;
  text-transform: uppercase;
}

.body p {
  font-weight: lighter;
  font-size: 16px;
}

.directoryItemContainer:hover {
  cursor: pointer;
}

.directoryItemContainer:hover .backgroundImage {
  transform: scale(1.1);
}

.directoryItemContainer:hover .body {
  opacity: 0.9;
}
